ComputationalCluster/CommunicationProtocolLibrary/XMLSchemas/RegisterMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.mini.pw.edu.pl/ucc/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="TaskManager" />
              <xs:enumeration value="ComputationalNode" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SolvableProblems">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ProblemName" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ParallelThreads" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>