ComputationalCluster/CommunicationProtocolLibrary/XMLSchemas/SolutionsMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.mini.pw.edu.pl/ucc/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Solutions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProblemType" type="xs:string" />
        <xs:element name="Id" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="CommonData" type="xs:base64Binary" />
        <xs:element name="Solutions">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Solution">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TaskId" type="xs:unsignedLong" />
                    <xs:element name="TimeoutOccured" type="xs:boolean" />
                    <xs:element name="Type">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Ongoing" />
                          <xs:enumeration value="Partial" />
                          <xs:enumeration value="Final" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ComputationsTime">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="([0-9]+[.])?[0-9]{2}:[0-9]{2}:[0-9]{2}" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Data" minOccurs="0" type="xs:base64Binary" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>