ComputationalCluster/CommunicationProtocolLibrary/XMLSchemas/StatusMessage.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.mini.pw.edu.pl/ucc/" xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
<xs:element name="Status">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Id" type="xs:unsignedLong" />
      <xs:element name="Threads">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Thread">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="State">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Idle" />
                        <xs:enumeration value="Busy" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="HowLong">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]+[.])?[0-9]{2}:[0-9]{2}:[0-9]{2}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="ProblemInstanceId" type="xs:unsignedLong" />
                  <xs:element minOccurs="0" name="TaskId" type="xs:unsignedLong" />
                  <xs:element minOccurs="0" name="ProblemType" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>