CommunicationProtocol/TaskAliveResponseServerSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="ComputationClusterNamespace"
    elementFormDefault="qualified"
    xmlns="http://www.w3schools.com"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="TaskAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IP" type="xs:string"></xs:element>
        <xs:element name="IsAlive" type="xs:boolean"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
